<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
         colors="true"
         bootstrap="bootstrap.php"
>
    <testsuites>
        <testsuite name="aixada">
            <directory suffix="_test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
                <directory>./php/external</directory>
                <directory>./css</directory>
                <directory>./docs</directory>
                <directory>./img</directory>
                <directory>./js</directory>
                <directory>./sql</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <const name="DS" value="/"/>
    </php>
</phpunit>
